:root{
    --first: #e51818;
    --second: #D4D925;
    --firstDark: #ac1721;
    --secondDarK: #BABD42;
    --redClear: #FF5B00;
    --white: #ffffff;
    --black: #000000;
    --fontHeader:'Rubik', sans-serif;
    --fontParrafo:'Sen', sans-serif;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: var(--fontParrafo);
    font-size: 1.4rem;
    line-height: 2;/* Por lo regular en los Blog el interlineado es de 2 */
}
/* GLOBALES */
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size:2.6rem;
}
h4{
    font-size: 1.8rem;
}
h1,h2,h3,h4{
    font-family: var(--fontHeader);
    font-weight: 400;
}
img{
    max-width: 100%;
}
source{
    max-width: 100%;
}
a{
    text-decoration: none;/* Le quitamos el subrayado al ancla */
}
.contenedor{
    width: min(90%, 120rem);/* Se aplicara el margen que valga menos */
    margin:0 auto;
  
}
/* UTILIZABLES */
.bold{
    font-weight: 600;
}
.normal{
    font-weight: 400;
}
.centrar-texto{
    text-align: center;
}
.left-texto{
    text-align: left;
}
.no-margin{
    margin:0;
}
.no-padding{
    padding:0;
}
.negro-transparente{
    background-color: rgb(0,0,0,.7);/* Aplicamos un negro transparente */
    width: 100%;
    height: 100%;

}
.boton{
    display:block;
    font-size: 2rem;
    padding:1rem 2rem;
    margin:1rem 0 3rem 0;
    border-radius: 2rem;
    color: var(--white);
    outline-style:solid ;
    outline-offset: 1.5px;
    outline-width: 3px;
    font-family: var(--fontHeader);
    cursor: pointer;
    line-height: 1.2;

}
@media (min-width: 768px){
    .boton{
        display: inline-block;
    }
}
/* HEADER */
.header{
    background-image: url(../img/fondo.jpg);
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    

}

@media (min-width: 768px){
    .barra{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.logo__nombre,
.navegacion__enlace{
    color: var(--white);
}
.navegacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2px;

}
@media (min-width: 768px){
    .navegacion{
        flex-direction: row;
        gap:2rem;
    
    }
    
}
.navegacion__enlace{
    display: block;
    font-size: 1.6rem;

}
.header__texto{
    color:var(--white);
    margin-top:5rem;
}
.header__texto h3{
    margin:-1.7rem 0;
}
.footer{
    margin-top: 2rem;
    background-color: var(--firstDark);
    padding: 2rem;
}


/* MAIN */
/* CONTENIDO PRINCIPAL */
@media (min-width: 768px){
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
    } 
}
.blog{
    width: 100%;
    margin-bottom: 2rem;
    border-bottom: 2px solid var(--redClear);/* Para aplicar un borde al final */
}
.blog:last-of-type,
.curso:last-of-type{
    border-bottom: none;
}

/* .blog__imagen{
        width: 100%;
} */
.blog-img,
.curso-img,
.nosotros-img{
    width: 100%;
}
.boton-primario{
    background-color: var(--first);
    outline-color: var(--firstDark);
    transition: background-color .3s ease;
}
.boton-primario:hover{
    background-color: var(--firstDark);
}

/* CURSOS Y TALLERES */
.lista{
    list-style: none;
}
.boton-secundario{
    background-color:var(--second);
    outline-color: var(--secondDarK);
    transition: background-color .3s ease;/* Para aplixar transicion */
}
.boton-secundario:hover{
    background-color: var(--secondDarK);
}


/* CURSOS */
.curso{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: space-between;
    border-bottom:1.3px solid var(--redClear) ;/* Para aplicar un borde al final */
    margin-bottom: 2rem;
}
@media (min-width: 768px){
    .curso{
        flex-direction: row;
        gap: 2rem;
    }  
    .curso__imagen{
        flex: 1;
    }
    .curso__informacion{
        flex: 2;
    }  
}


/* CONTACTO */
.contacto__imagen{
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;/*Para que aparezca la imgen y cubra todo el espacio indicado */
    background-repeat: no-repeat;
}

.formulario{
    margin:-6rem 2rem 2rem 2rem;
    padding: 2rem;
    background-color: var(--white);
}
.campo{
    display:flex;
    gap:1rem;
    margin-bottom: 1rem;
}
.campo__text{
    flex: 8rem;
    text-align: right;  
}
.campo__field{
    width:min(90%, 100rem);
    border-style: solid;
    border-color: #d6cac4;
    border-width: 1px;
    border-radius: 1rem;

}
.campo__boton{
    text-transform: uppercase;
    border-radius: 3rem;
    border-style: solid;
    border-color: #ac1721;

}

/* NOSOTROS */
@media (min-width: 768px){
    .nosotros{
        display: flex;
        gap: 2rem;
    }
    .nosotros__imagen{
        flex: 1;
    }
    .nosotros__informacion{
        flex:1
    }   
}







   